* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.menu {
    position: sticky;
    top: 120px;
    z-index: 999;
}

nav {
    background: rgb(79, 172, 209); /*tô màu cho menu cha*/
    border-radius: 5px; /* bo góc */
}


nav ul {
    display: flex;
}

nav>ul li {
    list-style: none;
    /* bỏ dấu chấm mặc định của li */
    /* kẻ đường bên trái và bên phải của li */
    border-right: 1px solid rgb(79, 172, 209);
    border-left: 1px solid rgb(3, 3, 3);
}

nav>ul li a {
    display: block;
    padding: 0 25px;
    line-height: 50px;
    color: #000000;
    text-decoration: none;
}


/* Khi hover đến li, tô màu cho thẻ a */

nav ul li:hover>a {
    background: red;
    opacity: .7;
    color: yellow;
}


/*menu con*/


/*Ẩn các menu con*/

nav li ul {
    display: none;
    min-width: 250px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav li>ul li {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    background: rgb(79, 172, 209);
    text-align: left;
}


/*khi hover thì hiện menu con*/

nav li:hover>ul {
    display: block;
}
.link{
    text-decoration: none;
    max-width: 250px;
}
nav{
    width: 100%;
    display: inline-block;
}
.logoutBtn{
    margin-top: -50px;
    float: right;
    line-height: 50px;
    cursor: pointer;
    background-color: rgb(79, 172, 209);
    border-left: 1px solid rgb(3, 3, 3);
    padding: 0px 20px;
}

.logoutBtn:hover{
    background-color: red;
 
}
.logoutBtn li{
    list-style-type: none;
}

.logoutBtn li a{
    color: #000000;
    text-decoration: none;
}
.logoutBtn li:hover>a {
    color: yellow;
}